.resource_forks_link
  = link_to 'Resource Forks', resource_forks_path
.resource_fork
  = link_to Base64.decode64(@resource.resource_fork.file_name), resource_fork_path(@resource.resource_fork)
.image
  - if @resource.transform
    %img{src: "data:#{@resource.transform.content_type};base64,#{@resource.transform.data}"}
%table.resource{border: 1}
  %caption
    %h1
      = link_to Base64.decode64(@resource.resource_type.name), resource_type_path(@resource.resource_type)
      = @resource.resource_id
      = Base64.decode64(@resource.name)
  %thead
    %tr
      %th ASCII
      %th Hex
  %tbody
    %tr.data
      %td.ascii{valign: 'top'}
        = @resource.data_string
      %td.hex{valign: 'top'}
        = @resource.string_to_hex